<!DOCTYPE html>
<html>
    <head>
        <title>Create User</title>
    </head>
    <body>
        <header>
            <h1>Create Your Profile</h1>
            <nav>
                <%= message %>
                <form action="/users" method="POST">
                    Username: <input type="text" name="username" placeholder="Create username"><br/>
                    Password: <input type="password" name="password" placeholder="Create password"><br/>
                    Email: <input type="email" name="email" placeholder="Enter your email"><br>
                    Display Name: <input type="text" name="displayName" placeholder="Display Name"><br>
                    Age: <input type="text" name="age" placeholder="How old are you?"><br>
                    Gender: <select name="gender">
                        <% for(let i = 0; i < genderList.length; i++){ %>
                            <option value="<%= genderList[i] %>"><%= genderList[i] %></option>
                        <% } %>
                        </select><br>
                    About: <textarea name="about" placeholder="Describe yourself!"></textarea><br>
                    Photo: <input type="text" name="img" placeholder="Add an image URL">
                    <button type="submit">Register</button>
                </form>
            </nav>
        </header>
        <nav>
            <ul>
                <li><a href="/">Back To Home</a></li>
            </ul>
        </nav>
        <footer>
            <nav>
                <ul>
                    <li>Copyright</li>
                    <li>Contacts</li>
                    <li>Rules</li>
                    <li>Jobs</li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
