<!DOCTYPE html>
<html>
    <head>
        <title>Create User</title>
    </head>
    <body>
        <header>
            <h1>Create Your Profile</h1>
            <nav>
                <%= message %>
                <form action="/users" method="POST">
                    <input type="text" name="username" placeholder="username"><br/>
                    <input type="password" name="password" placeholder="password"><br/>
                    <input type="email" name="email" placeholder="email"><br>
                    <input type="text" name="displayName" placeholder="Display Name"><br>
                    <textarea name="about" placeholder="Describe yourself!"></textarea>
                    <button type="submit">Register</button>
                </form>
            </nav>
        </header>
        <nav>
            <ul>
                <li><a href="/">Back To Home</a></li>
            </ul>
        </nav>
    </body>
</html>
