<!DOCTYPE html>
<html>
    <head>
        <title>Create User</title>
    </head>
    <body>
        <header>
            <h1>Create Your Profile</h1>
            <nav>
                <form action="/auths/createuser" method="POST">
                    <input type="text" name="username" placeholder="username"><br/>
                    <input type="password" name="password" placeholder="password"><br/>
                    <input type="text" name="displayName" value="Display Name">
                    <button type="submit">Register</button>
                </form>
            </nav>
        </header>
        <nav>
            <ul>
                <li><a href="/">Back To Home</a></li>
            </ul>
        </nav>
    </body>
</html>
