<!DOCTYPE html>
<html>
    <head>
        <title>Create Account</title>
    </head>
    <body>
        <header>
            <section>
                <a href="/users/<%=user_id%>">Profile</a>
                <a href="/users/">Swipe</a>
                <a href="/users/message">Message</a>
            </section>
        </header>
        <main>
            <h1>Create Your Account</h1>
            <nav>
                <form action="/auths/createuser" method="POST">
                    <input type="text" name="username" placeholder="username"><br/>
                    <input type="password" name="password" placeholder="password"><br/>
                    <input type="text" name="displayName" value="Display Name">
                    <button type="submit">Register</button>
                </form>
            </nav>
        </main>
        <footer>
            <nav>
                <ul>
                    <li><a href="/">Back To Home</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
