<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <header>
      <h1>Login To Your Prfile</h1>
    </header>
    <main>
      <form action="/auths/login" method="POST">
        <input type="text" name="username" placeholder="username"><br/>
        <input type="password" name="password" placeholder="password"><br/>
        <button type="submit">Login</button>
      </form>
      <nav>
        <ul>
          <li><a href="/">Back To Home</a></li>
        </ul>
      </nav>
    </main>
    <footer>
      <nav>
        <ul>
          <li>Copyright</li>
          <li>Contacts</li>
          <li>Rules</li>
          <li>Jobs</li>
        </ul>
      </nav>
    </footer>
  </body>
</html>