<!DOCTYPE html>
<html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      

    <link rel="stylesheet" href="/style.css">
    <title>Login</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/"><button>Back To Home</button></a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Login To Your Profile</h1>
      <form action="/auths/login" method="POST" id="loginform">
        <input type="text" name="username" placeholder="username"><br/>
        <input type="password" name="password" placeholder="password"><br/>
        <button type="submit">Login</button>
      </form>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
    <script src="/js/regvalidators"></script>
  </body>
</html>