<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <header>
      <h1>Login To Your Prfile</h1>
      <form action="/auths/login" method="POST">
        <input type="text" name="username" placeholder="username"><br/>
        <input type="password" name="password" placeholder="password"><br/>
        <button type="submit">Login Cookie Monsta</button>
      </form>
    </header>
    <nav>
      <ul>
        <li><a href="/">Back To Home</a></li>
      </ul>
    </nav>
  </body>
</html>