<nav>
    <ul>
        <li><a href="/users/<%= user._id %>"><button>My Profile</button></a></li>
        <li><a href="/users"><button>Start Swiping!</button></a></li>
        <li><a href="/auths/logout"><button>Logout</button></a></li>
    </ul>
</nav>