<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title></title>
</head>
<body>
  <header>
    <h1>Welcome To Badger</h1>
    <nav>
      <%= message %>
      <ul>
        <li><a href="/auths/login">Login</a></li>
        <li><a href="/auths/createuser">Create Account</a></li>
      </ul>
    </nav>
  </header>
  <main></main>
  <footer>
    <% include ./partials/footer %>
  </footer>
</body>
</html>
