<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Welcome TO Badger</h1>
    <nav>
      <ul>
        <li><a href="/views/auths/login">Login</a></li>
        <li><a href="/views/auths/createuser">Create Account</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>
