<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/headmeta %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>Create New Badge</title>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <section>
                <h1>Add Badge</h1>
                <div class="error-window"></div>
                <form id="badgeform" action="/users/<%=user._id%>" method="POST">
                    <h3>Enter Badge Title</h3>
                    <select id="badges" name="title">
                        <%for (let i = 0; i < badgeTitles.length; i++) { %>
                            <option value="<%=badgeTitles[i]%>"><%=badgeTitles[i]%></option>
                        <% } %>
                        </select>

                    <h4>First Event</h4>

                    Image:        <input type="url" name="img1" placeholder="img"><br/>
                    Description:  <textarea name="description1"></textarea><br/>
              
                    <h4>Second Event</h4>
                    Image:        <input type="url" name="img2" placeholder="img"><br/>
                    Description:  <textarea name="description2"></textarea><br/>
                
                    <h4>Third Event</h4>
                    Image:        <input type="url" name="img3" placeholder="img"><br/>
                    Description:  <textarea name="description3"></textarea><br/>

                    <button type="submit">Submit</button>
                </form>
            </section>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <script src="/js/badgevalidators.js"></script>
    </body>
</html>
