<!DOCTYPE html>
<html>
    <head>
        <title>Create New Badge</title>
    </head>
    <body>
        <header>
            <section>
                <a href="/users/<%=user._id%>">Profile</a>
                <a href="/users/">Swipe</a>
                <a href="/users/message">Message</a>
            </section>
        </header>
        <main>
            <h2>Enter Badge Title</h2>
            <input type="text" list="badges" />
            <datalist id="badges" name="badgeId">
                <%for (let i = 0; i < user.badgeList.length; i++) { %>
                    <option value="<%=badges[i]._id%>"><%=badges[i].title%></option>
                <% } %>
            </datalist>

            <section>
                <h3>Events</h3>
                <form action="/users/<%=user._id%>/badges" method="POST">
                    <h4>First</h4>

                    Image:        <input type="url" name="img" placeholder="img"><br/>
                    Description:  <textarea name="description"></textarea><br/>
              
                    <h4>Second</h4>
                    Image:        <input type="url" name="img" placeholder="img"><br/>
                    Description:  <textarea name="description"></textarea><br/>
                
                    <h4>Third</h4>
                    Image:        <input type="url" name="img" placeholder="img"><br/>
                    Description:  <textarea name="description"></textarea><br/>

                    <button type="submit">Submit</button>
                </form>
            </section>
        </main>
        <footer>
            <nav>
                <ul>
                    <li>Copyright</li>
                    <li>Contacts</li>
                    <li>Rules</li>
                    <li>Jobs</li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
